@model IEnumerable<idz2.Models.ProcessOutcomes>

@{
    ViewData["Title"] = "Результаты процесса";
}

<h1>Результаты процесса</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessOutcomeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessOutcomeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcessOutcomeCode">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.ProcessOutcomeCode">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcessOutcomeCode">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
