@model IEnumerable<idz2.Models.RefStaffRoles>

@{
    ViewData["Title"] = "Список – Роли сотрудника";
}

<h1>Роли сотрудника</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffRoleDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffRoleDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffRoleCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffRoleCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffRoleCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
