@model idz2.Models.StaffInProcesses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffInProcesses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentsProcesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentsProcesses.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefStaffRoles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefStaffRoles.StaffRoleDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
