@model IEnumerable<idz2.Models.StaffInProcesses>

@{
    ViewData["Title"] = "Список – Сотрудники в процессе";
}

<h1>Сотрудники в процессе</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentsProcesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefStaffRoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentsProcesses.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefStaffRoles.StaffRoleDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
