@model idz2.Models.DocumentsProcesses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocumentsProcesses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documents.DocumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessProcesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessProcesses.ProcessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessOutcomes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessOutcomes.ProcessOutcomeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessStatus.ProcessStatusDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
