@model IEnumerable<idz2.Models.DocumentsProcesses>

@{
    ViewData["Title"] = "Список – Процессы документов";
}

<h1>Процессы документов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessProcesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessOutcomes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documents.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessProcesses.ProcessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessOutcomes.ProcessOutcomeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessStatus.ProcessStatusDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
