@model IEnumerable<idz2.Models.DocumentsProcesses>

@{
    ViewData["Title"] = "Процессы документа";
}

<h1>Процессы документа</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessProcesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessOutcomes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documents.DocumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessProcesses.ProcessId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessOutcomes.ProcessOutcomeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessStatus.ProcessStatusCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
